/**
 * @file
 * Help styles.
 *
 * @see /admin/help/content_deploy
 * @see /admin/help/content_deploy/introduction
 */

/**
 * Help block.
 */
.block-help {
  margin: 1em 0;
}

/**
 * Help page.
 */
.content_deploy-help h4 {
  font-size: 1em;
  text-transform: uppercase;
}

.content_deploy-help .button.button--primary {
  width: 100%;
  max-width: 600px;
  margin: 0;
}

.content_deploy-help img {
  width: 100%;
  height: auto;
}

.content_deploy-help .content_deploy-help-video-youtube {
  max-width: 600px;
}

/**
 * Help play button.
 */
.button.button-content_deploy-play:before {
  content: '► ';
  font-size: .8em;
}

/**
 * Help menu.
 *
 * @see /core/themes/stable/css/core/dropbutton/dropbutton.css
 */
.content_deploy-help-menu {
  display: none;
}

.js .content_deploy-help-menu {
  display: block;
  width: 250px;
  float: right;
}

.js .content_deploy-help-menu .dropbutton-wrapper {
  min-height: 2em;
}

.js .content_deploy-help-menu .dropbutton-wrapper {
  display: block;
  position: relative;
}

.js .content_deploy-help-menu .dropbutton-widget {
  position: absolute;
}

/**
 * Hide throbber which causes layout issue in dropbutton
 */
.content_deploy-help-menu .dropbutton-multiple .ajax-progress-throbber {
  display: none;
}

@media screen and (max-width: 768px) {
  .js .content_deploy-help-menu {
    display: none;
  }
}

/**
 * Help accordion.
 */
.content_deploy-help-accordion dt {
  font-weight: bold;
}

/**
 * Help video.
 */
.content_deploy-help-video-youtube {
  margin: 1.5em 0;
  max-width: 1024px;
  border: 1px solid #000;
}

.content_deploy-help-video-youtube--container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.content_deploy-help-video-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
