/**
 * @file
 * Messages element styles.
 *
 */

/**
 * Add styles to default (info) message,
 */
.messages.messages--info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #0074bd #0074bd #0074bd transparent;  /* LTR */
  box-shadow: -8px 0 0 #0074bd; /* LTR */
}
[dir="rtl"] .messages.messages--info {
  border-color: #0074bd transparent #0074bd #0074bd;
  box-shadow: 8px 0 0 #0074bd;
  margin-left: 0;
}

/**
 * Content Deploy message close container.
 */
.content_deploy-message--close .messages {
  position: relative;
}

/**
 * Content Deploy message close link.
 */
.content_deploy-message--close .messages {
  padding-right: 35px;
}

.content_deploy-message--close .content_deploy-message__link {
  display: none;
}

html.js .content_deploy-message--close .content_deploy-message__link {
  display: block;
  position: absolute;
  top: 11px;
  right: 10px;
  line-height: 24px;
  font-size: 24px;
}

.content_deploy-message__link {
  color: inherit;
  opacity: 0.33;
}

.content_deploy-message__link:link {
  border-bottom: none;
  text-decoration: none;
}

.content_deploy-message__link:hover,
.content_deploy-message__link:focus,
.content_deploy-message__link:active {
  border-bottom: none;
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

html.js .js-content_deploy-message--close-storage {
  display: none;
}
.deploy-filter form label {
  display: block;
}
.deploy-filter form .form-item {
  margin-right: .75rem;
}
.deploy-filter .container-inline .details-wrapper {
  margin: 8px 24px;
}
