{#
/**
 * @file
 * Theme implementation for content_deploy help.
 *
 * Available variables
 * - title: Help title.
 * - content: Help content.
 * - youtube_id: YouTube video id.
 * - help: A render array content help title and content inside a details element.
 *
 * @see template_preprocess_content_deploy_help()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('content_deploy/content_deploy.help') }}
{{ help }}
